anthill-monitor/classes
anthill-monitor/target
bda-webapp/*.iml
bda-webapp/*.ipr
bda-webapp/*.iws
bda-webapp/target
bda-webapp/war/WEB-INF/classes
certification-monitor/classes
certification-monitor/target
wiki-cli/classes
wiki-cli/target/dist
