* text=auto !eol
/README -text
WebRoot/README -text
WebRoot/WEB-INF/web.xml -text
/build.xml -text
db-sql/README -text
doc/README -text
reference-architecture/conf/README -text
scripts/README -text
/template.build.properties -text
