* text=auto !eol
/README -text
reference-architecture/WebRoot/README -text
reference-architecture/WebRoot/WEB-INF/web.xml -text
reference-architecture/build.xml -text
reference-architecture/conf/README -text
reference-architecture/db-sql/README -text
reference-architecture/doc/README -text
reference-architecture/scripts/README -text
/template.build.properties -text
