<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>hudson.model.Item.Configure:bassetttj</permission>
      <permission>hudson.model.Item.Read:bassetttj</permission>
      <permission>hudson.model.Run.Update:bassetttj</permission>
      <permission>hudson.model.Run.Delete:bassetttj</permission>
      <permission>hudson.model.Item.Delete:bassetttj</permission>
      <permission>hudson.model.Item.Build:bassetttj</permission>
      <permission>hudson.model.Item.Workspace:bassetttj</permission>
    </hudson.security.AuthorizationMatrixProperty>
  </properties>
  <scm class="hudson.scm.SubversionSCM">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://gforge.nci.nih.gov/svnroot/automation/branches/bda-dashboard-1.0.1/certification-monitor</remote>
        <local>certification-monitor</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://gforge.nci.nih.gov/svnroot/automation/branches/bda-dashboard-1.0.1/jobs</remote>
        <local>jobs</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <useUpdate>true</useUpdate>
    <doRevert>false</doRevert>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(Default)</jdk>
  <triggers class="vector">
    <hudson.triggers.TimerTrigger>
      <spec>0 * * * *</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Ant>
      <targets>backupconfig</targets>
      <properties>svn.username=tbassett
svn.password=Tb0505!!</properties>
    </hudson.tasks.Ant>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>